.banner .images {
  position: relative;
  height: 550px;
}
.banner .images .item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  overflow: hidden;
}
.banner .images .item.active {
  opacity: 1;
}
.banner .images .item img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 550px;
}
.banner .control {
  position: relative;
}
.banner .control .item {
  position: absolute;
  top: 275px;
  width: 50px;
  height: 50px;
  color: #CCC;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  cursor: pointer;
}
.banner .control .left {
  left: 0;
}
.banner .control .right {
  right: 0;
}
.banner {
  position: relative;
}
.banner .indicator {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  justify-content: center;
}
.banner .indicator .item {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
.banner .indicator .item.active {
  width: 12px;
}
